# Git Ignore for QDArchive Codebase

# Virtual Environments
venv/
.venv/
env/

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Configuration & Secrets
.env

# 23726011-seeding.db
# My_Downloads/

# OS Metadata
.DS_Store
Thumbs.db
